# These rules are taken from the Linux original source code
.*
*.ko
*.mod
*.mod.c
*.o
*.o.*
*.tar
*.xz
Module.symvers
modules.order
!.gitignore

# Debian packaging
/*.deb
/*.dsc
/*.changes
/*.buildinfo
!/*/debian
/*/debian/files
/*/debian/*.substvars
/*/debian/*.log
/*/debian/*.debhelper
/*/debian/*-stamp
/*/debian/*/
/build
